<!DOCTYPE html>
<html>
<head>
    <link rel = "icon" type="image/png" src="../static/images/images/stopwatch.png" type="image/x-icon"> 
    <title>{{ title }}</title>

    <!-- CSS Includes -->
    <link rel="stylesheet" type="text/css" href="../static/css/general.css">
    
    <!-- Javascript Includes (in alphabetical order)-->
    <script type="module" src="../static/js/jquery-3.5.1.min.js"></script>
    <script type="module" src="../static/js/landing-page.js"></script>
</head>

<body>
    <h1>Welcome to the Timesheet Tracker Website!</h1>
    <p>Please Login or Register</p>

    <button id="landing-page-register-button">Register Now!</button>
    <button id="landing-page-login-button">Login Now</button>
</body>
</html>