<head>
    <link rel = "icon" type="image/png" src="../static/images/images/stopwatch.png" type="image/x-icon">
    
    <!-- CSS Includes -->
    <link rel="stylesheet" type="text/css" href="../static/css/general.css">
    <title>{{ title }}</title>
</head>

<body>
    <div class="flex-container">
        <div id="login-container">
            <p>New User? <a href="{{ form_links.registration }}">Click to Register!</a></p>
                <h1>Sign In</h1>
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.username.label }}<br>
                        {{ form.username(size=32) }}
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(size=32) }}
                    </p>
                    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                    <p>{{ form.submit() }}</p>
                </form>
            {% endblock %}
        </div>
    </div>
</body>