<head>
    <link rel = "icon" type="image/png" src="../static/images/images/stopwatch.png" type="image/x-icon">
    
    <!-- CSS Includes -->
    <link rel="stylesheet" type="text/css" href="../static/css/general.css">
    
    <title>{{ title }}</title>
</head>

<body>
    <div class="flex-container">
        <div class="flex-column">
            {% block content %}
            <h1>Register</h1>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password2.label }}<br>
                    {{ form.password2(size=32) }}<br>
                    {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
            {% endblock %}
        </div>
    </div>
</body>