.total-time-row {
    align-items: center;
}

/* Where the list of time segments will be dispalyed */
.display-box {
    width: 99%;
    height: 99%;

    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 2px;
    
    border-style: dashed;
    border-width: 1px;

    align-self: flex-start;
}