astroid==2.4.2
dnspython==1.16.0
Flask==1.1.2
flask-login==0.5.0
Flask-SocketIO==4.3.1
Flask-Uploads==0.2.1
flas-wtf==0.14.3
Jinja2==2.11.2
pylint==2.5.3
pyserial==3.4
python-engineio==3.13.1
python-socketio==4.6.0
requests==2.24.0
Werkzeug==1.0.1
wrapt==1.12.1